<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup>
  <appSettings> 
    <add key="Observer" value="3105;2492;1540;3228;2483;3520;4503;6609;6616;4116;3093;6113;1522;8215;1539;8097;1605;2368;8069;3685" />
    <add key="Password" value="B1050520" />
    <add key="BullStop" value="日" />
    
    <add key="BearStop" value="月" />
    <add key="PercentStop" value="15" />
    <!--  <add key="Stock"  value="" />
    <add key="StockPiece"  value="" />
    <add key="StockValue"  value="" />
    <add key="StockStatus"  value="" />
    -->
    <add key="Fee" value="40" />
    <add key="Point" value="50" />
    <add key="Stock" value="" />
    <add key="StockPiece" value="" />
    <add key="StockValue" value="" />
    <add key="StockStatus" value="" />
    <add key="CloseStopLost" value="" />
    <add key="CloseHighStopLost" value="" />
    <add key="CloseABSStopLost" value="" />
    <add key="Future" value="" />
    <add key="FutureLots" value="" />
    <add key="FutureValue" value="" />
    <add key="FutureStatus" value="" />
    <add key="FutureCloseStopLost" value="" />
    <add key="FutureCloseHighStopLost" value="" />
    <add key="FutureCloseABSStopLost" value="" />
    <add key="Account" value="050-0333866" />
    <add key="TAIEXMA5" value="16351" />
    <add key="TAIEXMA20" value="16176" />
    <add key="TAIEXMA60" value="16853" />
    <add key="TAIEX" value="16807" />
    <add key="MXFMA5" value="16551" />
    <add key="MXFMA10" value="16537" />
    <add key="MXFMA20" value="16282" />
    <add key="MXFMA60" value="16751" />
    <add key="MXF" value="16471" />
    <add key="Spread" value="0" />
    <add key="ApiServer" value="http://localhost:56846/api/" />
    <add key="Account" value="Rain" />
    <add key="Password" value="Rain" />
    <add key="PHLX_URL" value="https://histock.tw/index/SOX" />
    <add key="DJI_URL" value="https://histock.tw/index/DJI" />
    <add key="NASDAQ_URL" value="https://histock.tw/index/NASDAQ" />
    <add key="MTX_URL" value="https://histock.tw/index-tw/FITX" />
    <add key="TX_URL" value="https://www.yuanta.com.tw/eYuanta/Securities/Stock" />
    <add key="TPEx_URL" value="https://histock.tw/index/GTF" />
    <add key="HiStock_URL" value="https://histock.tw/stock/" />
    <add key="LineToken" value="Qqm0OjvHVKOSGXEcTrfCUVDeLtORBLSbnQEqhHfXAb5" />
    <add key="Pt" value="30" />
    <add key="PtBear" value="-30" />
    <add key="LineTokenTom" value="YrMwS8ZSvofMQCrdoa8MYzRLoD9terMhcoCfEJwIcU6" />
    <add key="PtTom" value="30" />
    <add key="PtBearTom" value="-30" />
  </appSettings> 
  <runtime> 
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"> 
          <dependentAssembly> 
              <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" /> 
          </dependentAssembly> 
          <dependentAssembly> 
              <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" /> 
              <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" /> 
          </dependentAssembly> 
      </assemblyBinding> 
  </runtime>
</configuration>
