<?xml version="1.0"?>
<configuration>
    <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings> 
    <add key="Observer" value="8454;6470;1453;1605;4116;3265;2454;6508;2312;8255;6488;3324;6104;3035;3532" />
    <add key="Password" value="B1050520" />
    <add key="BullStop" value="日" />
    
    <add key="BearStop" value="月" />
    <add key="PercentStop" value="15" />
    <!--  <add key="Stock"  value="" />
    <add key="StockPiece"  value="" />
    <add key="StockValue"  value="" />
    <add key="StockStatus"  value="" />
    -->
    <add key="Fee"  value="80" />
    <add key="Stock"  value="" />
    <add key="StockPiece"  value="" />
    <add key="StockValue"  value="" />
    <add key="StockStatus"  value="" />
    <add key="CloseStopLost"  value="" />
    <add key="CloseHighStopLost"  value="" />
    <add key="CloseABSStopLost"  value="" />
    <add key="Future"  value="" />
    <add key="FutureLots"  value="" />
    <add key="FutureValue"  value="" />
    <add key="FutureStatus"  value="" />
    <add key="FutureCloseStopLost"  value="" />
    <add key="FutureCloseHighStopLost"  value="" />
    <add key="FutureCloseABSStopLost"  value="" />
    <add key="Account"  value="050-0333866" />
    <add key="TAIEXMA5"  value="16554" />
    <add key="TAIEXMA20"  value="16879" />
    <add key="TAIEXMA60"  value="17424" />
    <add key="TAIEX"  value="16696" />
    <add key="MXFMA5"  value="16430" />
    <add key="MXFMA10"  value="16664" />
    <add key="MXFMA20"  value="16906" />
    <add key="MXFMA60"  value="17448" />
    <add key="MXF"  value="16519" />
  </appSettings> 
</configuration>
