<?xml version="1.0"?>
<configuration>
    <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
  <appSettings> 
    <add key="Observer" value="2406;2461;2610" />
    <add key="Password" value="B1050520" />
    <add key="BullStop" value="MA5" />
    <add key="BearStop" value="MA20" />
    <add key="PersentStop" value="15" />
  </appSettings> 
</configuration>
